USE [master]
GO
/****** Object:  Database [SpringMVC]    Script Date: 07/06/2017 09:34:50 ******/
CREATE DATABASE [SpringMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SpringMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SpringMVC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SpringMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SpringMVC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpringMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpringMVC]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[User_Name] [varchar](20) NOT NULL,
	[Active] [bit] NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[User_Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_ID] [int] NOT NULL,
	[DEPT_NAME] [varchar](255) NOT NULL,
	[DEPT_NO] [varchar](20) NOT NULL,
	[LOCATION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [numeric](19, 0) NOT NULL,
	[EMP_NAME] [varchar](50) NOT NULL,
	[EMP_NO] [varchar](20) NOT NULL,
	[HIRE_DATE] [datetime] NOT NULL,
	[IMAGE] [image] NULL,
	[JOB] [varchar](30) NOT NULL,
	[SALARY] [float] NOT NULL,
	[DEPT_ID] [int] NOT NULL,
	[MNG_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Details](
	[ID] [varchar](50) NOT NULL,
	[Amount] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[Quanity] [int] NOT NULL,
	[ORDER_ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [varchar](50) NOT NULL,
	[Amount] [float] NOT NULL,
	[Customer_Address] [varchar](255) NOT NULL,
	[Customer_Email] [varchar](128) NOT NULL,
	[Customer_Name] [varchar](255) NOT NULL,
	[Customer_Phone] [varchar](128) NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Order_Num] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[Code] [varchar](20) NOT NULL,
	[Create_Date] [datetime] NOT NULL,
	[Image] [image] NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALARY_GRADE]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY_GRADE](
	[GRADE] [int] NOT NULL,
	[HIGH_SALARY] [float] NOT NULL,
	[LOW_SALARY] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GRADE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIMEKEEPER]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIMEKEEPER](
	[Timekeeper_Id] [varchar](36) NOT NULL,
	[Date_Time] [datetime] NOT NULL,
	[In_Out] [char](1) NOT NULL,
	[EMP_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Timekeeper_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[ROLE_ID] [varchar](50) NOT NULL,
	[USERNAME] [varchar](36) NOT NULL,
	[USER_ROLE] [varchar](30) NOT NULL,
 CONSTRAINT [USER_ROLE_PK] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 07/06/2017 09:34:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USERS](
	[USERNAME] [varchar](36) NOT NULL,
	[PASSWORD] [varchar](36) NOT NULL,
	[ENABLED] [smallint] NOT NULL,
 CONSTRAINT [USER_PK] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Accounts] ([User_Name], [Active], [Password], [User_Role]) VALUES (N'employee1', 1, N'123', N'EMPLOYEE')
INSERT [dbo].[Accounts] ([User_Name], [Active], [Password], [User_Role]) VALUES (N'manager1', 1, N'123', N'MANAGER')
INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [DEPT_NAME], [DEPT_NO], [LOCATION]) VALUES (10, N'ACCOUNTING', N'D10', N'NEW YORK')
INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [DEPT_NAME], [DEPT_NO], [LOCATION]) VALUES (20, N'RESEARCH', N'D20', N'DALLAS')
INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [DEPT_NAME], [DEPT_NO], [LOCATION]) VALUES (30, N'SALES', N'D30', N'CHICAGO')
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_NAME], [EMP_NO], [HIRE_DATE], [IMAGE], [JOB], [SALARY], [DEPT_ID], [MNG_ID]) VALUES (CAST(7369 AS Numeric(19, 0)), N'SMITH', N'E7369', CAST(N'1980-12-17 00:00:00.000' AS DateTime), NULL, N'CLERK', 800, 20, CAST(7902 AS Numeric(19, 0)))
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_NAME], [EMP_NO], [HIRE_DATE], [IMAGE], [JOB], [SALARY], [DEPT_ID], [MNG_ID]) VALUES (CAST(7499 AS Numeric(19, 0)), N'ALLEN', N'E7499', CAST(N'1981-02-20 00:00:00.000' AS DateTime), NULL, N'SALESMAN', 1600, 30, CAST(7698 AS Numeric(19, 0)))
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_NAME], [EMP_NO], [HIRE_DATE], [IMAGE], [JOB], [SALARY], [DEPT_ID], [MNG_ID]) VALUES (CAST(7521 AS Numeric(19, 0)), N'WARD', N'E7521', CAST(N'1981-02-22 00:00:00.000' AS DateTime), NULL, N'SALESMAN', 1250, 30, CAST(7698 AS Numeric(19, 0)))
INSERT [dbo].[Products] ([Code], [Create_Date], [Image], [Name], [Price]) VALUES (N'S001', CAST(N'2017-04-09 13:46:11.317' AS DateTime), NULL, N'Core Java', 100)
INSERT [dbo].[Products] ([Code], [Create_Date], [Image], [Name], [Price]) VALUES (N'S002', CAST(N'2017-04-09 13:46:11.320' AS DateTime), NULL, N'Spring for Beginners', 50)
INSERT [dbo].[Products] ([Code], [Create_Date], [Image], [Name], [Price]) VALUES (N'S003', CAST(N'2017-04-09 13:46:11.320' AS DateTime), NULL, N'Swift for Beginners', 120)
INSERT [dbo].[SALARY_GRADE] ([GRADE], [HIGH_SALARY], [LOW_SALARY]) VALUES (1, 9999, 3001)
INSERT [dbo].[USER_ROLES] ([ROLE_ID], [USERNAME], [USER_ROLE]) VALUES (N'2', N'dbadmin1', N'ADMIN')
INSERT [dbo].[USER_ROLES] ([ROLE_ID], [USERNAME], [USER_ROLE]) VALUES (N'3', N'dbadmin1', N'USER')
INSERT [dbo].[USER_ROLES] ([ROLE_ID], [USERNAME], [USER_ROLE]) VALUES (N'1', N'dbuser1', N'USER')
INSERT [dbo].[USERS] ([USERNAME], [PASSWORD], [ENABLED]) VALUES (N'dbadmin1', N'12345', 1)
INSERT [dbo].[USERS] ([USERNAME], [PASSWORD], [ENABLED]) VALUES (N'dbuser1', N'12345', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DEPARTME__512A302DFBF23288]    Script Date: 07/06/2017 09:34:51 ******/
ALTER TABLE [dbo].[DEPARTMENT] ADD UNIQUE NONCLUSTERED 
(
	[DEPT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__EMPLOYEE__16EB127C9E6C7960]    Script Date: 07/06/2017 09:34:51 ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD UNIQUE NONCLUSTERED 
(
	[EMP_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_sxhpvsj665kmi4f7jdu9d2791]    Script Date: 07/06/2017 09:34:51 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UK_sxhpvsj665kmi4f7jdu9d2791] UNIQUE NONCLUSTERED 
(
	[Order_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [USER_ROLE_UK]    Script Date: 07/06/2017 09:34:51 ******/
ALTER TABLE [dbo].[USER_ROLES] ADD  CONSTRAINT [USER_ROLE_UK] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC,
	[USER_ROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK75C8D6AE13C12F64] FOREIGN KEY([MNG_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK75C8D6AE13C12F64]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK75C8D6AE269A3C9] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK75C8D6AE269A3C9]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK75C8D6AE6106A42] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK75C8D6AE6106A42]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [ORDER_DETAIL_ORD_FK] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [ORDER_DETAIL_ORD_FK]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [ORDER_DETAIL_PROD_FK] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[Products] ([Code])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [ORDER_DETAIL_PROD_FK]
GO
ALTER TABLE [dbo].[TIMEKEEPER]  WITH CHECK ADD  CONSTRAINT [FK744D9BFF6106A42] FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[TIMEKEEPER] CHECK CONSTRAINT [FK744D9BFF6106A42]
GO
USE [master]
GO
